body{
    background-image: linear-gradient(to bottom, #f6d5f7, #fbe9d7);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navigation{
    padding: 10px;
    font-size: 36px;
    text-align : right;
}
#navigation a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
}
#navigation a:hover{
    color: white;
    cursor: pointer;
}

#content{
    margin: 20px;
}

#intro{
    font-size: 24px;
    text-align: center;
}

.text{
    font-size: 48px;
}

#about-me{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}